<div class="row rentInfo">
	<div class="form-horizontal">
		<div class="col-md-4">
			<div class="row">
				<div class="form-group">
					<label for="name" class="control-label col-xs-4">Unit Name:</label>
					<div class="col-xs-8">
						<input type="text" id="name" class="form-control input-sm">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<label for="address" class="control-label col-xs-4">Address:</label>
					<div class="col-xs-8">
						<input type="text" id="address" class="form-control input-sm">
					</div>
				</div>	
			</div>	
			<div class="row">
				<div class="form-group">
					<label for="area" class="control-label col-xs-4">Area(sqm):</label>
					<div class="col-xs-3 pull-right">
						<input type="number" id="area" class="form-control input-sm">
					</div>
				</div>	
			</div>	
			<div class="row">
				<div class="form-group">
					<label for="floor" class="control-label col-xs-4">Floor:</label>
					<div class="col-xs-3 pull-right">
						<input type="number" id="floor" class="form-control input-sm">
					</div>
				</div>	
			</div>	
			<div class="row">
				<div class="form-group">
					<label for="numberBedroom" class="control-label col-xs-5"># of Bedroom:</label>
					<div class="col-xs-3 pull-right">
						<input type="number" id="numberBedroom" class="form-control input-sm">
					</div>
				</div>	
			</div>	
			<div class="row">
				<div class="form-group">
					<label for="numberBathroom" class="control-label col-xs-5"># of Bathroom:</label>
					<div class="col-xs-3 pull-right">
						<input type="number" id="numberBathroom" class="form-control input-sm">
					</div>
				</div>	
			</div>	
			<div class="row">
				<div class="form-group">
					<label id="numberPowderoom" for="numberPowderoom" class="control-label col-xs-5"># of Powderoom:</label>
					<div class="col-xs-3 pull-right">
						<input type="number" id="numberPowderoom" class="form-control input-sm">
					</div>
				</div>	
			</div>													
		</div>
		<div class="col-md-4">
			<div class="row">
				<div class="form-group">
					<label for="monthlyRate" class="control-label col-xs-6">Monthly Rate:</label>
					<div class="col-xs-6">
						<input type="text" id="monthlyRate" class="form-control input-sm">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<label for="dailyRate" class="control-label col-xs-6">Daily Rate:</label>
					<div class="col-xs-6">
						<input type="text" id="dailyRate" class="form-control input-sm">
					</div>
				</div>	
			</div>	
			<div class="row">
				<div class="form-group">
					<label for="" class="control-label col-xs-5">Add photo:</label>
					<div class="col-xs-7">
						<button type="button" class="btn btn-primary pull-right">Browse</button>
					</div>
				</div>	
			</div>	
			<div class="row">
				<div class="form-group">
					<div class="col-xs-12">
						<textarea class="form-control" rows="5" id="comment"></textarea>
					</div>
				</div>	
			</div>													
		</div>
		<div class="col-md-4">
			<div class="row">
				<div class="form-group">
					<label for="blockStart" class="control-label col-xs-6">Block Date Start:</label>
					<div id="blockStart" class="input-group input-group-sm col-xs-5 pull-right">
						<input type="text" id="blockStart" class="form-control" placeholder="">
						<span class="btn btn-default dropdown-toggle input-group-addon glyphicon glyphicon-triangle-bottom" id="blockStart" data-toggle="dropdown">
						</span>    
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">Action</a></li>
						    <li><a href="#">Another action</a></li>
						    <li><a href="#">Something else here</a></li>
						    <li class="divider"></li>
						    <li><a href="#">Separated link</a></li>
						</ul>				
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<label for="blockEnd" class="control-label col-xs-6">Block Date End:</label>
					<div id="blockEnd" class="input-group input-group-sm col-xs-5 pull-right">
						<input type="text" id="blockEnd" class="form-control" placeholder="">
						<span class="input-group-addon glyphicon glyphicon-triangle-bottom" id="blockEnd"></span>
					</div>
				</div>	
			</div>	
			<div class="row">
				<div class="form-group">
					<label for="" class="control-label col-xs-5">Blocked Dates:</label>
					<div class="col-xs-7">
						<button type="button" class="btn btn-primary pull-right">Add block date</button>
					</div>
				</div>	
			</div>	
			<div class="row">
				<div class="form-group">
					<div class="col-xs-12 pull ">
						<textarea class="form-control" rows="5" id="blockDates"></textarea>
					</div>
				</div>	
			</div>													
		</div>
	</div>
</div>
<div class="row">
	<div class="form-horizontal">
		<div class="col-md-4">
			<div class="row">
				<div class="form-group">
					<label for="blockStart" class="control-label col-xs-6">Current Renter:</label>
					<div id="currentRenter" class="input-group input-group-sm col-xs-5 pull-right">
						<input type="text" id="currentRenter" class="form-control" placeholder="">
						<span class="btn btn-default dropdown-toggle input-group-addon glyphicon glyphicon-triangle-bottom" id="currentRenter" data-toggle="dropdown">
						</span>    
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">Action</a></li>
						    <li><a href="#">Another action</a></li>
						    <li><a href="#">Something else here</a></li>
						    <li class="divider"></li>
						    <li><a href="#">Separated link</a></li>
						</ul>				
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<div class="col-xs-8">
						<input type="text" id="tag" class="form-control" placeholder="Tag">
					</div>
					<div class="col-xs-4">
						<button type="button" class="btn btn-primary pull-right">Add Tag</button>
					</div>
				</div>	
			</div>	
			<div class="row">
				<div class="form-group">
					<label for="" class="control-label col-xs-5">Search Tags:</label>
				</div>	
			</div>	
			<div class="row">
				<div class="form-group">
					<div class="col-xs-12 pull ">
						<textarea class="form-control" rows="5" id="tag"></textarea>
					</div>
				</div>	
			</div>													
		</div>	
	</div>
</div>

