<!-- COLUMN TWO -->
<div class="col-sm-6 col-md-4">
  <!--
            ****** CHART WIDGET *******
            -->
  <div id="pie-chart-widget" class="panel">
    <div class="panel-heading text-center">
      <h5 class="text-uppercase"><strong>Data Transfer</strong></h5>
    </div>
    <div class="panel-body">
      <canvas id="myPieChart"></canvas>
    </div>
    <div class="panel-footer">
      <div class="list-block">
        <ul class="text-center legend">
          <li class="video" style="margin-right: 1px;">
            video
            <h2>62%</h2>
          </li>
          <li class="photo">
            photo
            <h2>21%</h2>
          </li>
          <li class="audio" style="margin-left: 1px;">
            audio
            <h2>10%</h2>
          </li>
        </ul>
      </div>
      <div class="btn-group btn-group-justified text-uppercase text-center">
        <a class="btn btn-default" role="button"><i class="fa fa-cloud-upload fa-2x"></i><br><small>Upload Files</small></a>
        <a class="btn btn-default" role="button"><i class="fa fa-share-alt fa-2x"></i><br><small>Share Link</small></a>
        <a class="btn btn-default" role="button"><i class="fa fa-history fa-2x"></i><br><small>Back Up</small></a>
      </div>
    </div>
  </div>

</div>


