<div class="container" ng-controller="MessageCtrl"> <!-- Container -->
            <form name="sentMessage" id="contactForm" novalidate>  <!-- Contact form -->
              <div class="row">
                <div class="col-md-6"> <!-- 6 column grid left form -->
                  <div class="form-group"> <!-- Your name input -->
                    <input type="text" autocomplete="off" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name." ng-model="message.name">
                    <p class="help-block text-danger"></p>
                  </div> 
                  <div class="form-group"> <!-- Your email input -->
                    <input type="email" autocomplete="off" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address." ng-model="message.email">                            
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group"> <!-- Your phone no. input -->
                    <input type="tel" autocomplete="off" class="form-control" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number." ng-model="message.phone">
                    <p class="help-block text-danger"></p>
                  </div>
                </div> <!-- End 6 column grid left form -->
                <div class="col-md-6"> <!-- 6 column grid right form-->
                  <div class="form-group"> <!-- Your message input -->
                    <textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."  ng-model="message.message"></textarea>
                    <p class="help-block text-danger"></p>
                  </div>
                </div> <!-- End 6 column grid right form-->
                <div class="clearfix"></div>
                <div class="col-lg-12 text-center">
                  <div id="success"></div>
                  <button type="submit" class="btn btn-send" ng-click="sendMessage()">Send Message</button> <!-- Send button -->
                </div>
              </div>
            </form> <!-- End contact form -->
      </div> <!-- End container -->