<section id="units">
  <div class="dark-overlay vision">
      <div class="post wow bounceIn" data-wow-duration="2s" style="visibility: visible; -webkit-animation-duration: 2s;">
        <div class="centered wow bounceIn">
          <h2>INQUIRY</h2>
        </div>
      </div>    
  </div>
</section>

  <div class="container">
    <div class="row">
<!--       <div class="post wow bounceIn" data-wow-duration="2s" style="visibility: visible; -webkit-animation-duration: 2s;">
        <div class="centered wow bounceIn">
          <h2>INQUIRY</h2>
        </div>
      </div> -->
    </div>

    <!-- Portfolio Section
    ================================================== -->
    <section id="" class="">
      <div jw-inquiry parent-inquiry="{{inquiryID}}" parent-unit="{{unitID}}" user-id="{{userID}}" ng-model="unitDetails"></div>
    </section>
    <!-- End Portfolio Section -->
    
    <div class="loader" ng-show="!(unitDataService.isLoaded())"><img class="image-loader" src="../images/loader.gif"><div class="text-loader">LOADING...</div></div>
  </div> <!--end of container -->
