 <!-- Vision/Mission 
    ================================================== -->
    <section id="vision">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <div class="dark-overlay vision">
                <div class=" centered wow bounceIn">
                  <h4>Let us help you</h4>
                  <h2>J. Williams Management Group Inc.</h2>
                  <h6>The proximity of our homes can enable whatever lifestyle you desire</h6>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="dark-overlay vision">
                <div class=" centered wow bounceIn">
                  <h4>refined selection</h4>
                  <h2>LIVE IN COMFORT</h2>
                  <h6>Our homes are furnished with taste and quality</h6>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="dark-overlay vision">
                <div class=" centered wow bounceIn">
                  <h4>We mind your peace</h4>
                  <h2>LIVE WITH SECURITY</h2>
                  <h6>Our homes are safely tucked in prime locations.</h6>
                </div>
              </div>
            </div>
          </div>

        </div>
    <!-- Portfolio Title -->
      <div class="medium-overlay ptitle">
        <h2>VIEW OUR AVAILABLE HOMES</h2>
        <h5>Select from the locations below</h5>
      </div>
    </section> 
<section id="portfolio" class="grid">

<figure class="effect-portfolio wow fadeIn" data-wow-duration="1s"> <!-- Portfolio 1 -->
        <img src="img/portfolio/bgc.jpg" alt="01_img"/> <!-- Your image here -->
        <figcaption> <!-- Caption -->
          <h2>Bonifacio Global City</h2>
          <p>Art, Culture and Business.</p>
          <a ui-sref="bgc" class="portfolio-link" data-toggle="modal">View more</a> <!-- Larger image popup -->
        </figcaption> <!-- End caption -->   
      </figure> <!-- End portfolio 1 -->

      <figure class="effect-portfolio wow fadeIn" data-wow-duration="2s"> <!-- Portfolio 2 -->
        <img src="img/portfolio/makati.jpg" alt="02_img"/> <!-- Your image here -->
        <figcaption> <!-- Caption -->
          <h2>MAKATI</h2>
          <p>See the Ayala station. Longest line in the world.</p>
          <a ui-sref="makati" class="portfolio-link" data-toggle="modal">View more</a><!-- Larger image popup -->
        </figcaption> <!-- End caption -->   
      </figure> <!-- End portfolio 2 -->
      
      <figure class="effect-portfolio wow fadeIn" data-wow-duration="3s"> <!-- Portfolio 3 -->
        <img src="img/portfolio/qc.jpg" alt="03_img"/> <!-- Your image here -->
        <figcaption> <!-- Caption -->
          <h2>Quezon City</h2>
          <p>Live close to friends and family</p>
          <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">View more</a>
        </figcaption> <!-- End caption -->   
      </figure> <!-- End portfolio 3 -->

      <figure class="effect-portfolio wow fadeIn" data-wow-duration="4s"> <!-- Portfolio 4 -->
        <img src="img/portfolio/alabang.jpg" alt="04_img"/> <!-- Your image here -->
        <figcaption> <!-- Caption -->
          <h2>Alabang</h2>
          <p>Balance the urban life with serenity.</p>
          <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">View more</a>
        </figcaption> <!-- End caption -->   
      </figure> <!-- End portfolio 4 -->

      <figure class="effect-portfolio wow fadeIn" data-wow-duration="5s"> <!-- Portfolio 5 -->
        <img src="img/portfolio/manila.jpg" alt="05_img"/> <!-- Your image here -->
        <figcaption> <!-- Caption -->
          <h2>Manila</h2>
          <p>History and culture.</p>
          <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">View more</a>
        </figcaption> <!-- End caption -->   
      </figure> <!-- End portfolio 5 -->

      <figure class="effect-portfolio wow fadeIn" data-wow-duration="6s"> <!-- Portfolio 6 -->
        <img src="img/portfolio/valenzuela.jpg" alt="06_img"/> <!-- Your image here -->
        <figcaption> <!-- Caption -->
          <h2>Valenzuela</h2>
          <p>Up and coming city</p>
          <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">View more</a>
        </figcaption> <!-- End caption -->   
      </figure> <!-- End portfolio 6 -->

      <figure class="effect-portfolio wow fadeIn" data-wow-duration="1s"> <!-- Portfolio 7 -->
        <img src="img/portfolio/tagaytay.jpg" alt="07_img"/> <!-- Your image here -->
        <figcaption> <!-- Caption -->
          <h2>Tagaytay</h2>
          <p>Fortress of solitude.</p>
          <a href="#portfolioModal7" class="portfolio-link" data-toggle="modal">View more</a>
        </figcaption> <!-- End caption -->   
      </figure> <!-- End portfolio 7 -->

      <figure class="effect-portfolio wow fadeIn" data-wow-duration="2s"> <!-- Portfolio 8 -->
        <img src="img/portfolio/pico.jpg" alt="08_img"/> <!-- Your image here -->
        <figcaption> <!-- Caption -->
          <h2>Pico de Loro</h2>
          <p>He who does not get fun and enjoyment out of every day, needs to reorganize his life. </p>
          <a href="#portfolioModal8" class="portfolio-link" data-toggle="modal">View more</a>
        </figcaption> <!-- End caption -->   
      </figure> <!-- End portfolio 8 -->

      <figure class="effect-portfolio wow fadeIn" data-wow-duration="3s"> <!-- Portfolio 9 -->
        <img src="img/portfolio//ortigas.jpg" alt="09_img"/> <!-- Your image here -->
        <figcaption> <!-- Caption -->
          <h2>OTHER</h2>
          <p>There is only one way to happiness and that is to cease worrying about things which are beyond the power of our will.</p>
          <a href="#portfolioModal9" class="portfolio-link" data-toggle="modal">View more</a>
        </figcaption> <!-- End caption -->   
      </figure> <!-- End portfolio 9 --></section>