      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <!--            <li><a class="page-scroll" href="#banner">Home</a></li>-->
<!--           <li><a class="page-scroll" ui-sref="login({isLogin: 'true'})">Login</a>
          </li> -->
          <li><a id="login" class="page-scroll" href="" ng-click="login()">{{username}}</a>
          </li>
          <li><a class="page-scroll" href="admin/views/admin.html">Admin</a>
          </li>
          <li><a class="page-scroll" ui-sref="longTerm({rentalType: 'longTerm'})">Rent</a>
          </li>
          <li><a class="page-scroll" ui-sref="longTerm({rentalType: 'shortTerm'})">Vacation Homes</a>
          </li>

          <!--            <li><a class="page-scroll" ui-sref="subscribe">Subscirbe</a></li>-->
          <!--            <li><a class="page-scroll" href="#portfolio">Units</a></li>-->

          <li><a class="page-scroll" href="">Contact</a>
          </li>
<!--           <li><a class="page-scroll" href="views/reqeust-inquiries.html">Billing</a>
          </li> -->
          <li><a class="page-scroll" ui-sref="reqeust-inquiry">Billing</a>
          </li>          
          <!--            <li><a href="blog.html">Blog</a></li>-->
        </ul>
      </div>