<div class="blog">
  <div class="dark-overlay vision">
  </div>

  <div class="container ">
    <div class="row">
      <div class="post wow fadeIn animated" data-wow-duration="2s" style="visibility: visible; -webkit-animation-duration: 2s;">
        <div class="centered  wow bounceIn">
          <h2>MESSAGES</h2>
        </div>
      </div>
    </div>

    <!-- Portfolio Section
    ================================================== -->

    <section id="" class="grid">
      <h3 class="pull-left">UNIT INQUIRY</h3>
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th>H1</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>TEST</td>
          </tr>
          <tr class="">
            <td>TEST</td>
          </tr>
        </tbody>
      </table>
    </section>
    <!-- End Portfolio Section -->

    <modal-dialog show='modalShown' height="60%" width="60%">
      <div class="portfolio-modal">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl">
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                </div>
              </div>
            </div>
            <!--/ product Image-->


            <!--/.modal-details-inner-->

          </div>
        </div>
      </div>

      <!-- End Modal -->
    </modal-dialog>
  </div> <!--end of container -->

</div>

<!-- jQuery / JavaScript plugins
    ================================================== -->


<script type="text/javascript" src="/app/js/script.js"></script>
<script type="text/javascript" src="/app/js/main.js"></script>
