<div class="blog">
  <div class="dark-overlay vision">
    <div class="centered  wow bounceIn">
      <h2>MESSAGES</h2>
    </div>
  </div>
  
  <div class="container ">
    <div class="row">
      <div class="post wow fadeIn animated" data-wow-duration="2s" style="visibility: visible; -webkit-animation-duration: 2s;">
      </div>
    </div>

    <!-- Portfolio Section
    ================================================== -->

    <section id="ReqInqCtrl" class="grid">
      <h3 class="pull-left">UNIT INQUIRY</h3>
<!--       <div ng-controller="ReqInqCtrl"> -->
      <div>
      <table class="table table-bordered" >
        <thead>
          <tr>
            <th>UNIT</th>
            <th>LAST UPDATED</th>
            <th>DATE OF INQUIRY</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="inquiry in inquiries" data-href='url://viewUnit/inquiry:{{inquiry.userID}}' ng-click="goInquire(inquiry)">
            <td>{{userName}}</td><td>{{inquiry.userID}}</td><td>{{inquiry.dateOfInquiry}}</td>
          </tr>
<!--           <tr class="">
            <td>TEST</td>
          </tr> -->
        </tbody>
      </table>
      </div>
    </section>
    <!-- End Portfolio Section -->

    <modal-dialog show='modalShown' height="60%" width="60%">
      <div class="portfolio-modal">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl">
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                </div>
              </div>
            </div>
            <!--/ product Image-->


            <!--/.modal-details-inner-->

          </div>
        </div>
      </div>

      <!-- End Modal -->
    </modal-dialog>
  </div> <!--end of container -->

</div>

<!-- jQuery / JavaScript plugins
    ================================================== -->


<script type="text/javascript" src="/app/js/script.js"></script>
<script type="text/javascript" src="/app/js/main.js"></script>
