<!-- <body id="top"> -->

<section id="">
  <div class="dark-overlay vision">
    <div class="centered  wow bounceIn">
      <h2 ng-show="isLogin">SIGN UP</h2>
    </div>    
  </div>
</section>
    
	<!-- NAVIGATION -->
<!-- 	<div class="navbar-wrapper2 navbar-fixed-top">
      <div class="container">
		<div class="navbar mtnav">

			<div class="container offset-3"> -->
			  <!-- Navigation-->
<!-- 			  <div class="navbar-header">
				<button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				</button>
				<a href="index.html" class="navbar-brand"><img src="images/logo.png" alt="Travel Agency Logo" class="logo"/></a>
			  </div>
			  <div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
				  <li><a href="#">My Account</a></li>
				  <li><a href="#">Service</a></li>
				  <li><a href="#">Billing</a></li>
				  <li><a href="#">Rent</a></li>	
				  <li><a href="#">Daily Rent</a></li>	
				  <li><a href="#">Own</a></li>			  			  	
				</ul>
			  </div> -->
			  <!-- /Navigation-->			  
<!-- 			</div>
		
        </div>
      </div>
    </div>

	<div id="dajy" class="fullscreen-container mtslide sliderbg fixed cstyle11">	
			<div class="map-canvas2">
				<img src="images/slider/img4.jpg" class="inner-page-img"/>
			</div>
	</div> -->	

<!-- 	</div> end of container 		 -->


	<!-- Portfolio Section
	================================================== -->
	<section id="" class="">
	<!-- WRAP -->
<!-- 	<div class="wrap cstyle12 transparent signup"> -->
		
<!-- 		<div class="container mt-200 z-index100">		 -->
		<div class="container">		
		    <div class="row">
				<div class="post wow bounceIn" data-wow-duration="2s" style="visibility: visible; -webkit-animation-duration: 2s;">
					<div class="centered wow bounceIn">
					  <h2 ng-show="!isLogin">First Timer?  Then Join Us and Register</h2>
					</div>
				</div>
		    </div>


			<div class="row">
				<div class="col-md-12">
					<div class="bs-example bs-example-tabs">
					
						<div class="tab-content9">

							<div class="col-md-12">
								<p class="grey futurab centerT margtop20 col-md-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							</div>


							<div class="col-md-12 margbottom20 margtop30">
								<form>

									<div class="col-md-6 col-xs-12 col-sm-12 margbottom30">
										<input type="text" class="col-md-12 form-input-field futurab" placeholder="First Name" ng-model="firstName">

										<input type="text" class="col-md-12 form-input-field futurab" placeholder="Last Name" ng-model="lastName">

										<input type="email" class="col-md-12 form-input-field futurab" placeholder="Email" ng-model="user.email">

										<input type="text" class="col-md-12 form-input-field futurab" placeholder="Contact Number" ng-model="user.contactNumber">

										<input type="password" class="col-md-12 form-input-field futurab" placeholder="Password" ng-model="user.password">

										<input type="password" class="col-md-12 form-input-field col-md-12 futurab" placeholder="Re-type Password">
									</div>

									<div class="col-md-6 col-xs-12 col-sm-12 margbottom30">

										<div class="checkgroup">

											<h4 class="futuram margbottom20 grey col-md-12">What are you interested in?</h4>

											<div class="checkslot margbottom20 col-md-12">
												<input type="checkbox" id="rent">
												<label for="rent" class="futural">Rent a property</label>
											</div>

											<div class="checkslot margbottom20 col-md-12">
												<input type="checkbox" id="own">
												<label for="own" class="futural">Own a property</label>
											</div>

											<div class="checkslot margbottom20 col-md-12">
												<input type="checkbox" id="forrent">
												<label for="forrent" class="futural">Put my property up for rent</label>
											</div>
										</div>

										<a class="signsub block caps centerT futurab col-md-10 col-md-offset-1 margbottom20 margtop40" href="#" ng-click="submit()">REGISTER</a>
									</div>
								</form>
							</div>

							
							<div class="clearfix"></div>
						</div>
						
						<div class="clearfix margtop30"></div>
							
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>

		
		
		<!-- FOOTER -->
	<section>
	<!-- End Portfolio Section -->

		
<!-- 		<div class="footerbg sfix5">
			<div class="container">		
				<footer>
					<div class="footer">
						<a href="#" class="social1"><img src="images/icon-facebook.png" alt=""/></a>
						<a href="#" class="social2"><img src="images/icon-twitter.png" alt=""/></a>
						<a href="#" class="social3"><img src="images/icon-gplus.png" alt=""/></a>
						<a href="#" class="social4"><img src="images/icon-youtube.png" alt=""/></a>
						<br/><br/>
						<a href="#" class="footer-link">JWILLIAMS</a>
						<br/>Copyright &copy; 2015.  All rights reserved.<br/><br/>
						<a href="#top" class="gotop scroll"><img src="images/spacer.png" alt=""/></a>
					</div>
				</footer>
			</div>	
		</div> -->
		
		

		
		
<!-- 	</div> -->
	<!-- END OF WRAP -->
	
<!--   </body> -->
<!-- </html>
 -->