<section id="units">
  <div class="dark-overlay vision">
    <div class="centered  wow bounceIn">
      <h4>Subscribe to our</h4>
      <h2>NEWSLETTER</h2>
      <h6></h6>
    </div>
  </div>
</section>
<div class="blog">
  <div class="container ">


    <div class="row">
      <div class="post wow fadeIn animated" data-wow-duration="2s" style="visibility: visible; -webkit-animation-duration: 2s;">
        <h2 class="text-center"></h2>
      </div>
    </div>

    <!-- Portfolio Section
    ================================================== -->

    <section id="userInfo" class="grid">
      <h2>Your Info</h2>
      <form id="subscribe" role="form" style="background-color:#FFF">
        <div class="form-group">
          <label for="usr" style="float:left"><h4 style="color:#000;margin-bottom:0px">Name:</h4></label>
          <input type="text" class="form-control" style="color:#000" id="usr" name="usr" ng-model="userInfo.name">
        </div>
        <div class="form-group">
          <label for="email" style="float:left"><h4 style="color:#000;margin-bottom:0px">Email:</h4></label>
          <input type="text" class="form-control" style="color:#000" id="email"  name="email" ng-model="userInfo.email">
        </div>
        <button type="submit" class="btn btn-primary btn-md" ng-click="clicked()">Subscribe</button> 
      </form>     
    </section>
    <!-- End Portfolio Section -->

    <modal-dialog show='modalShown' height="60%" width="60%">
      <div class="portfolio-modal">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl">
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                </div>
              </div>
            </div>
            <!--/ product Image-->


            <!--/.modal-details-inner-->

          </div>
        </div>
      </div>

      <!-- End Modal -->
    </modal-dialog>
  </div>
</div>

<!-- jQuery / JavaScript plugins
    ================================================== -->


<script type="text/javascript" src="/app/js/script.js"></script>
<script type="text/javascript" src="/app/js/main.js"></script>
