<section id="units">
  <div class="dark-overlay vision">
    <div class="centered  wow bounceIn">
      <h1>{{details.name}}</h1>
               <h4 class="product-code text-center" >  {{details.address}} </h4>
    </div>
  </div>
</section>
<div class="container">
  <div class="row">
    <div class="col-lg-12 ">

      <style>
        .swiper-container {
          width: 100%;
          height: 100%;
          margin: 20px auto;
        }
        .swiper-slide {
          text-align: center;
          font-size: 18px;
          background: #fff;
          width: 60%;
          /* Center slide text vertically */
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
        }
        .swiper-slide:nth-child(2n) {
          width: 80%;
        }
        .swiper-slide:nth-child(3n) {
          width: 60%;
        }
      </style>
      <!--
                  <wrap-owlcarousel class="owl-carousel owl-theme" data-options="{autoPlay: 3000,
        slideSpeed : 300, paginationSpeed : 400, singleItem : true}">
                    <div  ng-repeat="photo in details.photos">
                      <img width="100%" ng-src="{{photo}}"></img>
                    </div>

                    <img width="100%" src="/app/img/bgc/parklane/3.JPG"></img>
                    <img width="100%" src="/app/img/bgc/parklane/4.JPG"></img>
                    <img width="100%" src="/app/img/bgc/parklane/5.JPG"></img>

                  </wrap-owlcarousel>
-->
      <!--
        <div id="owl-demo"  owlcarousel class="owl-carousel">

          <div  ng-repeat="photo in details.photos" end-repeat>
            <img width="100%" ng-src="{{photo}}"></img>
          </div>

        </div>
-->
      <!--
        <div class="customNavigation">
          <a class="btn owlcarousel_prev">Previous</a>
          <a owlcarouselaction="next" class="btn owlcarousel_next">Next</a>
          <a class="btn owlcarousel_play">Autoplay</a>
          <a class="btn owlcarousel_stop">Stop</a>
        </div>
-->

      <div class="swiper-container" max-height="500px">
        <div class="swiper-wrapper">
          <div ng-repeat="photo in details.photos" end-repeat slides="1" class="swiper-slide">
            <img height="600px" ng-src="{{photo}}"></img>
          </div>
        </div>
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-scrollbar"></div>
      </div>

      <h2 class="text-center"> {{details.name}}</h2>
      <h3 class="product-code text-center"> {{details.size}} sqm.,
                 {{details.bedroomCount}} Bedrooms,</h3>
      <h3 class="product-code text-center"> {{details.bathroomCount}} Bathrooms, </h3>
      <h3 class="product-code text-center" ng-show="details.powderCount"> {{details.powderCount}} Powder rooms </h3>

      <div class="details-description text-center">
        <p>Beautiful home. Furnished by interior designer William Sanchez.</p>
      </div>
      <br/>

      <div class="product-price text-center" jw-datepicker></div>
      <!-- BOOSTRAP UI Datepicker -->
<!--         <div class="col-md-6">
            <p class="input-group">
              <input type="date" class="form-control" datepicker-popup ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>     -->  


      <br/>      
      <div class="product-price text-center"> <span class="price-sales"> Monthly Rate Php {{details.monthlyRate}}</span> 
          <div class="product-price text-center"> <span class="price-sales"> Daily Rate Php {{details.dailyRate}}</span>
<!--          <span class="price-standard">2200000php</span>-->
      </div>
      
      <div class="text-center">
        <button class="btn btn-primary" ng-click="goInquire()"><h6>Inquire</h6></button>
      </div>
      

      <!--/.cart-actions-->

      <div class="product-share clearfix">
        <p>SHARE</p>
        <div class="socialIcon">
          <a href="#"> <i class="fa fa-facebook"></i>
          </a>
          <a href="#"> <i class="fa fa-twitter"></i>
          </a>
          <a href="#"> <i class="fa fa-google-plus"></i>
          </a>
          <a href="#"> <i class="fa fa-pinterest"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!--/ product Image-->


  <!--/.modal-details-inner-->

</div>

